<a href="https://colab.research.google.com/github/Marium72/Smit-Batch-10/blob/master/Python_basic_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
+# 1.Tmperature Comparison:

In [ ]:
a=int(input("what is the temperature of karachi?"))
b=int(input("what is the temperature of quetta?"))
x=(input("name of city"))
y=(input("name of city"))
print(a>=b)
print(f"{x} is hotter than {y}")

what is the temperature of karachi?26
what is the temperature of quetta?17
name of cityKarachi
name of cityQuetta
True
Karachi is hotter than Quetta

In [ ]:
# 2.Bill Splitter:

In [ ]:
a=int(input("total bill: RS"))
b=int(input("total number of people:"))
print(f"Each person shares rs {a//b}")

total bill: RS6758970
total number of people:46
Each person shares rs 146934

In [ ]:
# 3.Custom Message Formatter:

In [ ]:
a=(input("name"))
b=(input("favourite color"))
c=(input("favourite number"))
print(f"{a} loves the color {b} and their favourite number is {c}.")

nameFatima Zehra
favourite colorBlue
favourite number7
Fatima Zehra loves the color Blue and their favourite number is 7.

In [ ]:
# 4.Two Number Relationship:

In [ ]:
a=int(input("enter first value"))
b=int(input("enter second value"))
if a%2==0 and b%2==0:
    print(f"both numbers{a}, {b} is even")
print(a>=b)
print(f"{a} is less than {b} and both numbers are even.")

enter first value46
enter second value78
both numbers46, 78 is even
False
46 is less than 78 and both numbers are even.

In [ ]:
# 5.Rectangle Calculator:

In [ ]:
x=int(input("length of rectangle"))
y=int(input("width of rectangle"))
a=int(input("first side"))
b=int(input("second side"))
c=int(input("third side"))
i=(1/2*x*y)
j=(a+b+c)
print(f"length: {x}, width: {y}, Area: {i}, Perimeter: {j}")

length of rectangle56
width of rectangle45
first side23
second side18
third side22
length: 56, width: 45, Area: 1260.0, Perimeter: 63

In [ ]:
# 6.Age Difference Calculator:

In [ ]:
h=int(input("what is your age huda?"))
i=int(input("what is your age hira?"))
j=(h-i)
print(f"The age difference between huda and hira is: {j} years.")

what is your age huda?67
what is your age hira?34
The age difference between huda and hira is: 33 years.

In [ ]:
# 7.Days to second converter:

In [ ]:
a=int(input("number of days"))
seconds = a*24*60*60
print(f"{a} days is equal to {seconds} seconds.")

number of days5
5 days is equal to 432000 seconds.

In [ ]:
# 8.Arithmetic Checker:

In [ ]:
x=int(input("enter first value"))
y=int(input("enter second value"))
a=x+y
b=x-y
c=x*y
d=x/y
print(f"{x} + {y} = {a}")
print(f"{x} - {y} = {b}")
print(f"{x} x {y} = {c}")
print(f"{x} / {y} = {d}")

enter first value6
enter second value3
6 + 3 = 9
6 - 3 = 3
6 x 3 = 18
6 / 3 = 2.0

In [ ]:
# 9.Sum of Even Numbers in Range:

In [ ]:
total = 0
for i in range(1,11):
  if i % 2 == 0:
    print(f"Even numbers", {i})
    total += i
print(f"the total number is :", total)

Even numbers {2}
Even numbers {4}
Even numbers {6}
Even numbers {8}
Even numbers {10}
the total number is : 30

In [ ]:
# 10.Multiplication Table with Custom Range:

In [ ]:
s=int(input("table number"))
for t in range(1,16):
  print(f"{s} x {t} = {s*t}")

table number7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77
7 x 12 = 84
7 x 13 = 91
7 x 14 = 98
7 x 15 = 105

In [ ]:
# 11.Count Digits in Number:

In [ ]:
count=0
num=int(input("Enter your phone number:"))
for a in str(num):
   count+=1
print(f"The total count in phone number are {count}")

Enter your phone number:5265283923288
The total count in phone number are 13

In [ ]:
# 12.Password Strength Checker:

In [ ]:
p=input("Enter your password:")
uppercase_count=0
lowercase_count=0
digits_count=0
for char in p:
  if char.isupper():
    uppercase_count=uppercase_count+1
  elif char.islower():
    lowercase_count=lowercase_count+1
  else:
    digits_count=digits_count+1
if uppercase_count >= 2 and lowercase_count <= 1 and digits_count == 3:
  print("Password is strong")
else:
  print("Password is weak")
  print("Uppercase count", uppercase_count)
  print("Lowercase count", lowercase_count)
  print("Digits count", digits_count)

Enter your password:BHHcfdh57658hVGHD
Password is weak
Uppercase count 7
Lowercase count 5
Digits count 5

In [ ]:
# 13.Print receipt stars:

In [ ]:
a=int(input("how many items purchased?"))
print("*" * a)

how many items purchased?9
*********

In [ ]:
# 14.Find Character Occurences:

In [ ]:
a=input("write a sentence about your toy?")
count=0
for char in a:
  if 'e' in char:
     count+=1
print(f"Total 'e' in sentence is {count}")

write a sentence about your toy?I bought a engine car from e shop.
Total 'e' in sentence is 3

In [ ]:
# 15.Temperature Conversion Table:

In [ ]:
Celsius=int(input("write temperature in celsius:"))
Fahrenheit = int(Celsius * 9/5 + 32)
print(f"The Temperature in Fahrenheit is {Fahrenheit}.")

write temperature in celsius:67
The Temperature in Fahrenheit is 152.

In [ ]:
# 16.Simple Banking Simulation:

In [ ]:
balance=float(input("Enter your initial balance:"))
months=int(input("how many months you made purchased?"))
for months in range(1,months+1):
    balance=balance*1.05
    print(f"Months{months} : {balance}")

Enter your initial balance:560
how many months you made purchased?8
Months1 : 588.0
Months2 : 617.4
Months3 : 648.27
Months4 : 680.6835
Months5 : 714.717675
Months6 : 750.4535587500001
Months7 : 787.9762366875001
Months8 : 827.3750485218751

In [ ]:
#END